.app-container {
    font-family: sans-serif;
    /* aqui aumento a tela pra baixo */
    height: calc(50vh - 34px - 50px - 64px);
    padding: 2rem;
    display: block;
    flex-direction: row;

    width: 100%;

    align-items: center;
    text-align: center;
}

/* .h1_withe{
    color: rgb(22, 22, 22);
} */

.item-container {
    width: 40%;
}