@media screen and (max-width: 767px) {
    .rodape-contatos {
        width: 100%;
        text-align: center;
        margin-bottom: 30px;
    }
}

.app-footer {
    height: 23vh;
    background: #045c10;
    padding: .5rem 2rem;
    text-align: right;
    text-align: center;
}

.app-footer__message {
    align-items: center;
    color: #f0e8e8;
    font-family: sans-serif;
    font-size: 40px;
    cursor: pointer;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.direitos_aut {
    text-align: center;
    color: #d8cece;
    margin-top: 40px;
}

element.style {
    display: none;
}

/* classe botão ir pro topo */
#link-top {
    text-decoration: none;
    color: white;
    background-color: rgb(33, 196, 41);
    padding: 10px;
    position: fixed;
    right: 10px;
    bottom: 10px;
    box-shadow: 3px 3px 10px #333;
}

.text-h5 {
    text-align: left;
    color: #d8cece;
    margin-top: 5px;
}

.text-h4 {
    text-align: center;
    color: #d8cece;
    margin-top: 0px;
}

ul.rodape-menu {
    padding-left: 0;
    color: #fff t;
    text-decoration: none;
}

ol,
ul {
    margin-top: 0;
    margin-bottom: 10px;
}

.rodape {
    width: 100%;
    min-height: 100%;
    background-color: #1c6638;
    padding: 80px 0;
}

.rodape-assinatura:hover {
    color: #7e1f1f;
    /* background-color: #31302e; */
    /*CSS 3*/
    border-radius: 10px 0px 10px 0px;
}

.rodape-assinatura {
    /*background-color: rgb(138, 119, 119); */
    text-align: center;
    align-items: center;
    font-size: 15px;

    width: 100%;
    min-height: 0px;
    background-color: #297047;
    padding: 50px 0;
}

.rodape-contatos {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    color: #fff;
}

.rodape-menu {
    padding-left: 0;
    color: #fff;
    text-decoration: none;
}

/* quando o link for selecionado */
a {
    text-decoration: none;
}

.rodape-newsletter {
    color: #fff;
    margin-bottom: 10px;
}

.rodape-logo {
    width: 200px;
    height: 200px;
    background: url(../img/logo/logo-footer.jpg) no-repeat;
    float: left;
}

.form-newsletter-rodape-botao:hover {
    color: #330000;
    background-color: #6fe643;
    border-radius: 10px 0px 10px 0px;
}

.form-newsletter-rodape-botao {
    border: 0;
    background-color: #e8cd64;
    color: #262424;
    padding: 4px 20px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    transition: all 200ms linear;
}

.form-newsletter-rodape {
    width: 175px;
    border: 0;
    background: #fff;
    color: rgb(196, 180, 180);
    padding: 4px 0;
    text-indent: 10px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    transition: all 200ms linear;
}