@media screen and (max-width: 767px) {
    .noticias-data,
    .noticias-titulo,
    .noticias-resumo {
        clear: both;
        text-align: center;
    }
}

.barra-lateral {
    width: 100%;
    float: left;
    margin-top: 40px;
}

.barra-lateral-arquivo {
    width: 100%;
    background: #202020;
    padding: 20px;
}

.barra-lateral-blog {
    width: 100%;
    background: #202020;
    padding: 20px;
}

.barra-lateral-categorias {
    width: 100%;
    background: #3c5f35;
    padding: 20px;
}

.botao-pequeno-leia {
    left: 50%;
    position: relative;
    margin-left: -45px;
}

.botao-pequeno-leia {
    width: 90px;
    height: 35px;
    border: 0;
    background-color: #bb3108;
    color: #fff;
    padding: 4px 20px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    transition: all 200ms linear;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: rgb(245, 243, 247);    
}

.imagem-mais {
    width: 45px;
    height: 45px;
    background: url(../../img/mais.png) no-repeat;
    position: absolute;
    opacity: 0;
    top: 60%;
    left: 50%;
    float: left;
    margin-left: -22.5px;
    transition: all 200ms linear;
}

.noticias-imagem {
    float: left;
    position: relative;
    margin-bottom: 10px;
    margin-right: 20px;
}

.noticias-titulo {   
    text-decoration: none;
}

.noticias-titulo h3 {
    margin: 5px 0;
    font-weight: bold;
    font-size: 20px;
    /* transition: all 200ms linear; */
    text-decoration: none;
}

.noticias-resumo {
    font-size: 13px;
    margin: 7px 0;
    transition: all 200ms linear;
    text-decoration: none;
}

.noticias-resumo p {
    font-size: 13px;
    color: #aaa;
    margin: 7px 0;
    transition: all 200ms linear;
}

/* .noticias-data, .noticias-titulo, .noticias-resumo {
    clear: both;
    text-align: center;
} */